<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">
  <div class="hero-content">
    <h2>C40 från 5690 kr/mån</h2>
    <h1>ELBIL MED FAST MÅNADSKOSTNAD</h1>
    <img class="hero" src="{{ heroSrc }}" />
  </div>

  <div class="button-group">
    <a class="card" target="_blank" rel="noopener" href="">
      <span>DESIGNA DIN EGEN</span>
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="">
      <span>LÄS MER</span>
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>

  <section class="cars">
    <h2 class="title">Våra modeller</h2>
    <!-- TODO: Create router with links for all cars -->
    <div class="link-group">
      <a href=""> Alla (17)</a>
      <a href="">Crossover (1)</a>
      <a href="">SUV (6)</a>
      <a href="">Kombi (6)</a>
      <a href="">Sedan (4)</a>
    </div>

    <!-- CAROUSEL -->
    <div class="outer-container">
      <div
        [style.transform]="'translateX(' + start + 'px' + ')'"
        [style.backgroundColor]="color"
        class="carousel"
      >
        <app-image-card></app-image-card>
      </div>
    </div>
    <div class="carousel-buttons">
      <button
        class="button"
        [ngClass]="{ start: start === 0 }"
        (click)="getPreviousImages()"
      >
        &#60;
      </button>
      <button
        class="button"
        [ngClass]="{ start: start === -maxWidth }"
        (click)="getNextImages()"
      >
        &#62;
      </button>
    </div>
  </section>

  <!-- Resources -->
  <section class="cars">
    <div>
      <h2 class="title">
        Köp eller prenumerera på en Volvo online: Flexibla villkor utan dolda
        avgifter.
      </h2>

      <div class="flex">
        <div class="card b-0 text-s">
          <h3>3 månaders uppsägningstid</h3>
          <p>
            Byt bil eller säg upp med 3 månaders uppsägningstid. Försäkring,
            service, vägassistans och mer ingår i priset.
          </p>
        </div>
        <div class="card b-0 text-s">
          <h3>36 månaders bindningstid</h3>
          <p>
            Sänk kostnaden med en längre bindningstid men med samma paket av
            service, vägassistans och försäkring som vid 3 månaders
            bindningstid.
          </p>
        </div>
        <div class="card b-0 text-s">
          <h3>Onlineköp</h3>
          <p>
            Betala hela din nya Volvo direkt men få ändå tillgång till vårt
            erbjudande med service, garanti och försäkring i upp till 3 år.
          </p>
        </div>
      </div>
      <button class="button button-blue">LÄS MER</button>
    </div>
  </section>

  <div class="image-block">
    <div>
      <h2>Sök och beställ vinterdäck online</h2>
      <p>
        Använd vårt sökverktyg för att hitta rätt vinterdäck till din bil och
        beställ online.
      </p>
      <button class="button button-white">SÖK VINTERDÄCK</button>
    </div>
    <img
      src="https://www.volvocars.com/images/v/-/media/market-assets/sweden/applications/dotcom/images/homepage/promotion/tim00844_desktop.jpg?iar=0&w=1920"
    />
  </div>

  <div class="card-container">
    <div class="card w-auto">
      <img
        src="https://www.volvocars.com/images/v/-/media/market-assets/sweden/applications/dotcom/images/homepage/promotion/saftey_in_mind_desktop.jpg?iar=0&w=1440"
        alt=""
      />
      <div class="card-content">
        <h2>En ny era av säkerhet</h2>
        <p>
          Utforska flera banbrytande säkerhetsinnovationer som alla börjar med
          Volvo EX90 – vår nya och helt elektriska SUV.
        </p>
        <button class="button button-blue">UPPTÄCK MER</button>
      </div>
    </div>
    <div class="card w-auto">
      <img
        src="https://www.volvocars.com/images/v/-/media/market-assets/sweden/applications/dotcom/images/homepage/promotion/ste-280recharge_notalent_desktop_21x9.jpg?iar=0&w=1440"
        alt=""
      />
      <div class="card-content">
        <h2>XC40 Recharge</h2>
        <p>
          Volvo XC40 Recharge tar dig till veckans aktiviteter och helgens
          äventyr. Upplev 418 km av helt elektrisk körglädje. Från 5 690 kr/mån.
        </p>
        <button class="button button-blue">TILL ERBJUDANDET</button>
      </div>
    </div>
  </div>
  <div class="image-block">
    <div>
      <h2>Behöver du en Volvo här och nu?</h2>
      <p>
        Det har aldrig varit smidigare att få tillgång till en Volvo. Nu kan du
        boka en bil månadsvis, direkt och enkelt i On Demand-appen*.
      </p>
      <button class="button button-white">BOKA ON DEMAND NU</button>
    </div>
    <img
      src="https://www.volvocars.com/images/v/-/media/market-assets/sweden/applications/dotcom/images/homepage/campaign-2021/1920x823_3_alastair-macduff.png?iar=0&w=1920"
    />
  </div>

  <p class="block">
    *Bokningen förlängs automatiskt, avsluta senast 3 dagar innan nästa
    30-dagarsperiod börjar. Bilar i mån av tillgång, erbjudandet omfattar endast
    en station i Stockholm.
  </p>

  <input type="hidden" #selection />

  <h3>Genvägar</h3>
  <div class="card-container shortcuts">
    <button class="card" (click)="selection.value = ''" tabindex="0">
      <span>Kontakta oss</span>
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </button>

    <button class="card" (click)="selection.value = ''" tabindex="0">
      <span>Nyhetsbrev</span>
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </button>

    <button class="card" (click)="selection.value = ''" tabindex="0">
      <span>Jobba på Volvo Cars</span>
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </button>

    <button class="card" (click)="selection.value = ''" tabindex="0">
      <span>Volvo Cars app</span>
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </button>
  </div>

  <app-card></app-card>

  <!-- TODO: Fix new style/design-->
  <!-- Footer -->
  <footer class="flex footer">
    <div>
      <a>Cookies</a>
      <a>Villkor</a>
      <a>Sociala Medier </a>
      <a>Hantering av personuppgifter </a>
      <a>Företagsinformation</a>
    </div>

    <p>
      Copyright © 2022 Volvo Car Corporation (eller dess
      dotterbolag/licensgivare).
    </p>
  </footer>
</div>

<router-outlet></router-outlet>
